<%= erb :header %>

<% if @updating && @all_ok %>
    <p style="color:green;font-weight: bold;">The update was succesful.</p>
    <a href="/account">Go Back.</a>
<%elsif @updating_balance && @has_cc%>
    <p style="color:green;font-weight: bold;">Succesfully added <%= @added_funds%> CurryPounds.</p>
    <a href="/account">Go Back.</a>
<%else%>
    <form method="post" action="update_info">
      <br/>
      <h1>Fill the form to update your information.</h1>
      <br/>
      <% if !@first_name_ok && @updating %>
          <p style="color:red">Invalid value for first name.</p>
      <%end%>
      <p>First Name:
        <input type="text" name="first_name" value="<%=h @first_name %>"/>
      </p>

      <% if !@surname_ok && @updating %>
          <p style="color:red">Invalid value for surname.</p>
      <%end%>
      <p>Surname:
        <input type="text" name="surname" value="<%=h @surname %>"/>
      </p>

      <p>Twitter Account:
        <input type="text" name="twitter_acc" value="<%= @results[0] %>" disabled="disabled"/>
      </p>

      <% if !@cc_no_ok && @updating %>
          <p style="color:red">Invalid Credit Card number.</p>
      <%end%>
      <p>Credit Card:
        <input type="text" name="cc" value="<%=h @cc_no %>"/>
      </p>

      <p>Address:
        <input type="text" name="address" value="<%=h @address %>"/>
      </p>

      <p>Balance:
        <input type="text" name="balance" value="<%= @results[3]  %>" disabled="disabled"/>
      </p>

      <input type="submit" value="Update Information" />

    </form>

    <br/>
    <% if @updating_balance && !@has_cc %>
        <p style="color:red">Sorry. We can't process your request if we don't have your Credit Card information.</p>
    <%end%>
    <form method="post" action="update_balance">
      <label for="amount">Select the CurryPound amount you want to add :</label>
      <select name="amount">
        <option value="5">5 CP</option>
        <option value="10">10 CP</option>
        <option value="25">25 CP</option>
        <option value="50">50 CP</option>
        <option value="100">100 CP</option>
      </select>
      <input type="submit" value="Add to Balance" />
    </form>
<%end%>

<%= erb :footer %>