<%= erb :dashboard_header %>

<h1>Customer Info</h1>

<form method="get" action="search_customer">

  <p>Find customer with the Twitter or Email address:
    <input type="text" name="input" />
    <input type="submit" value="Search" />
  </p>
</form>
  <% if !@customer_found && @submitted %>
      <p style="color:red; font-size:85%"> There is no such a customer  </p>
  <%end%>

  <br>

  <% if @customer_found && @submitted %>

     <table>

      <tr>
        <th style="border: 2px solid black; border-collapse:collapse;">Name</th>
        <th style="border: 2px solid black; border-collapse:collapse;">Surname</th>
        <th style="border: 2px solid black; border-collapse:collapse;">Address</th>
        <th style="border: 2px solid black; border-collapse:collapse;">City</th>
        <th style="border: 2px solid black; border-collapse:collapse;">Email</th>
        <th style="border: 2px solid black; border-collapse:collapse;">Twitter</th>
      </tr>
      <tr>
        <td style="border: 2px solid black; border-collapse:collapse;"> <%=@name%></td>
        <td style="border: 2px solid black; border-collapse:collapse;"><%=@surname%></td>
        <td style="border: 2px solid black; border-collapse:collapse;"><%=@address%></td>
        <td style="border: 2px solid black; border-collapse:collapse;"><%=@city%></td>
        <td style="border: 2px solid black; border-collapse:collapse;"><%=@email%></td>
        <td style="border: 2px solid black; border-collapse:collapse;"><%=@twitter%></td>
      </tr>

</table>
<br>
<br>

  <%end%>


  <% if @customer_found %>
    <!--<button form_action="blacklist_customer" formmethod="post" type="submit" value="Blacklist"/>-->
    <button onclick="window.location.href='/tweet_to?customer=<%= @twitter %>'"><%= @button_text%></button>
    <button onclick="window.location.href='/blacklist_customer'"><%= @button_text%></button>
  <% end %>

<%= erb :dashboard_footer %>