<%= erb :dashboard_header %>

<h1>Customer Info</h1>

<form method="get" action="search_customer">

  <p>Find customer with the Twitter or Email address:
    <input type="text" name="input" />
    <input type="submit" value="Search" />
  </p>
</form>
  <% if !@customer_found && @submitted %>
      <p style="color:red; font-size:85%"> There is no such a customer  </p>
  <%end%>

  <br>

  <% if @customer_found && @submitted %>

     <table class="table table-striped">

      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Address</th>
        <th>City</th>
        <th>Email</th>
        <th>Twitter</th>
      </tr>
      <tr>
        <td> <%=@name%></td>
        <td><%=@surname%></td>
        <td><%=@address%></td>
        <td><%=@city%></td>
        <td><%=@email%></td>
        <td><a target="_blank" href="https://twitter.com/<%=@twitter%>"><%=@twitter%></a></td>
      </tr>

</table>
<br>
<br>

  <%end%>


  <% if @customer_found %>
    <!--<button onclick="window.location.href='/tweet_to?customer=<%= @twitter %>'"><%= @button_text%></button>-->
    <button onclick="window.location.href='/blacklist_customer'"><%= @button_text%></button>
  <% end %>

<%= erb :dashboard_footer %>
