<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="team02">
  <link rel="icon" href="/favicon.ico">

  <title>Admin Panel - Curry House</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/dashboard.css" rel="stylesheet">
  <link href="/css/main_style.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin">Curry House Admin Panel</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class=<%= "active" if active_page?("admin") %>><a href="/admin">Dashboard</a></li>
        <li><a href="/">Preview Site</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="/logout">Log out</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class=<%= "active" if active_page?("admin") %>><a href="/admin">Dashboard</a></li>
        <li class=<%= "active" if active_page?("orders") || active_page?("sheffield_orders") || active_page?("birmingham_orders") || active_page?("change_status")%>><a href="/orders">Current Orders</a></li>
        <li class=<%= "active" if active_page?("stats") || active_page?("sheffield_stats") || active_page?("birmingham_stats")%>><a href="/stats">Statistics</a></li>
        <li class=<%= "active" if active_page?("customer_info") %>><a href="/customer_info">Customer Info</a></li>
        <li class=<%= "active" if active_page?("offers") || active_page?("trigger_competition") %>><a href="/offers">Offers</a></li>
        <li><a href="#">Twitter</a></li>
        <li class=<%= "active" if active_page?("admin_edit_menu") %>><a href="/admin_edit_menu">Menus</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
