<%= erb :header %>

<% def create_menu_table(title, resArr, desc) %>
    <% unless resArr.nil? || resArr.length == 0 %>
<br>
        <div class="media">
          <div class="media-left">
            <a href="#">
            <img class="media-object" src="../img/64img.png" alt="...">
            </a>
            </div>
            <div class="media-body">
            <h2 class="media-heading"><%= title %></h2>
            <%= desc %>
            </div>
        </div>
        <table class="table table-striped">
          <tr>
            <th class="col_num">Item No.</th>
            <th class="col_n">Name</th>
            <th class="col_d">Description</th>
            <th class="col_p">Price</th>
          </tr>
          <% resArr.each do |item| %>
              <tr>
                <td class="col_num"><%=h item[5] %></td>
                <td class="col_n"><%=h item[0] %>
                  <% if item[3]==0 %><span class="V">[V]</span><% end %>
                  <% if item[4]==0 %><span class="GF">[GF]</span><% end %>
                </td>
                <td class="col_d"><%=h item[1] %></td>
                <% if (item[2]/0.1)%1 != 0 %>
                    <td class="col_p"><%=h "£ #{item[2]}" %></td>
                <% else %>
                    <td class="col_p"><%=h "£ #{item[2]}0" %></td>
                <% end %>
              </tr>
          <% end %>
        </table>
    <% end %>

<% end %>

<% @m.each { |m| create_menu_table(m[0], m[1], m[2]) } %>

<h2>Offers</h2>
<p>After every <%=@req_orders%> orders you will receive <%=@cp%> CurryPounds as a reward for your loyalty.</p>

<%= erb :footer %>
