<%= erb :header %>

<% unless @sidesResults.nil? || @sidesResults.length == 0 %>
    <h3>Sides</h3>
    <br />
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
      <% @sidesResults.each do |item| %>
          <tr>
            <td><%=h item[0] %></td>
            <td><%=h item[1] %></td>
            <% if (item[2]/0.1)%1 != 0 %>
              <td><%=h item[2] %></td>
            <% else %>
              <td><%=h item[2] %><%=h '0' %></td>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>

<%= erb :footer %>