<%= erb :dashboard_header %>

<% unless @caught_tweets.nil? %>

    <% if @too_many_requests %>
        <br/>
        <p style="color:red">Too Many Requests. Try again in <%= @limit %> seconds.</p>
    <% end %>

    <h1>Orders</h1>
    <br />
    <form method="post" action="change_status">
    <table class="menu_table" border="1">
      <tr>
        <th>Order Id</th>
        <th>Tweet Id</th>
        <th>From</th>
        <th>Text</th>
        <th>Sum</th>
        <th>Status</th>
        <th>Select to change</th>
      </tr>
      <% @caught_tweets.each_with_index do |tweet,i| %>
          <tr>
            <td><%= h tweet[4]%></td>
            <td><%=h tweet[0]%></td>
            <td><a target="_blank" href="https://twitter.com/<%=h tweet[1]%>"><%=h tweet[1]%></a></td>
            <td><%=h tweet[2]%></td>
            <td><%=h tweet[5] %></td>
            <td><%=h tweet[3]%></td>
            <td><input type="checkbox" name="status<%=i+1%>"></td>
          </tr>
      <% end %>
    </table>

    <label for="change_to">Change to:</label>
    <select name="change_to">
      <option value="Ordered">Ordered</option>
      <option value="Preparing">Preparing</option>
      <option value="Delivering">Delivering</option>
      <option value="Completed">Completed</option>
      <option value="Canceled">Canceled</option>
    </select>
    <br/>
    <input type="submit" value="Change Status!" />
    </form>
<% end %>
<br>

<!--<button type="button" onclick="location.reload()">Add new orders!</button>-->

<%= erb :dashboard_footer %>