<%= erb :header %>

<% unless @caught_tweets.nil? %>
    <h1>Orders</h1>
    <br />
    <table class="menu_table" border="1">
      <tr>
        <th>Tweet Id</th>
        <th>From</th>
        <th>Text</th>
        <th>Status</th>
      </tr>
      <% @caught_tweets.each do |tweet| %>
          <tr>
            <!--<td><%=h tweet[0] %></td>
            <td><%=h tweet[1]%></td>
            <td><%=h tweet[2]%></td>
            <td><%=h tweet[3]%></td>-->
            <td><%=h tweet[:id] %></td>
            <td><%=h tweet[:from]%></td>
            <td><%=h tweet[:text]%></td>
            <td><%=h tweet[:status]%></td>
          </tr>
      <% end %>
    </table>
<% end %>
<br>

<button type="button" onclick="location.reload()">Add new orders!</button>

<%= erb :footer %>