<%= erb :header %>

<% unless @caught_tweets.nil? %>
    <h1>Orders</h1>
    <br />
    <form method="post" action="change_status">
    <table class="menu_table" border="1">
      <tr>
        <th>Tweet Id</th>
        <th>From</th>
        <th>Text</th>
        <th>Status</th>
        <th>Select to change</th>
      </tr>
      <% @caught_tweets.each_with_index do |tweet,i| %>
          <tr>
            <td><%=h tweet[0]%></td>
            <td><%=h tweet[1]%></td>
            <td><%=h tweet[2]%></td>
            <td><%=h tweet[3]%></td>
            <td><input type="checkbox" name="status<%=i%>"></td>
          </tr>
      <% end %>
    </table>

    <label for="change_to">Change to:</label>
    <select name="change_to">
      <option value="Ordered">Ordered</option>
      <option value="Preparing">Preparing</option>
      <option value="Delivering">Delivering</option>
      <option value="Completed">Completed</option>
    </select>
    <br/>
    <input type="submit" value="Change Status!" />
    </form>
<% end %>
<br>

<!--<button type="button" onclick="location.reload()">Add new orders!</button>-->

<%= erb :footer %>